body {
    background-image:url(http://172.18.160.21/wiki/download/attachments/32833570/background.png?version=1&modificationDate=1268939512000&api=v2);
    font-size: 8pt;
    font-family: Verdana，Tahoma, sans-serif;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma，Verdana, sans-serif;
    text-align: center;
}

div.a {
    border: 4px solid gray;
    width: 800px;
    height: 855px;
    background: none;
    margin: 0 auto;
    padding: 0%;
}

div.b {
    float: left;
}

div.c {
    /* float: left; */
    width: 600px;
    height: 83px;
    background: url(http://172.18.160.21/wiki/download/attachments/32833570/rottenbackground.png?version=1&modificationDate=1268939585000&api=v2);
}
div.b_c {
    float: left;
    width: 550px;
    height: 412px;
}

div.d {
    float: left;
    width: 250px;
    height: 420px;
    background: #A2B964;
    font-size: 8pt;
    font-family: Apt, sans-serif;
    margin-top: -5px;
}

div.e {
    background: url(http://172.18.160.21/wiki/download/attachments/32833570/bannerbackground.png?version=1&modificationDate=1268939512000&api=v2);
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    padding: 0px;
    display: block;
}

div.bottom {
    float: left;
    width: 800px;
    height: 20px;
    background: #A2B964;
    text-align: center; 
    font-size: 8pt;
    font-family: Apt, sans-serif;
    margin-top: 0px;
    padding-top: 5px;
}

div.one {
    width:250px;
    height:130px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: 8px;
    margin-left: -88px;
}
div.two {
    width: 250px;
    height: 130px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: -134px;
    margin-left: 280px;
}

div.three {
    width: 35px;
    height: 33px;
    text-align:center;
    position: relative;
    border: 0px;
    background: none;
    float: left;
    margin-top: 7px;
    margin-left: 8px;
}

div.threeText {
    width: 210px;
    height: 33px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

div.four {
    width: 35px;
    height: 33px;
    text-align:center;
    position: relative;
    border: 0px;
    background: none;
    float: left;
    margin-top: 7px;
    margin-left: 25px;
}

div.fourText {
    width: 200px;
    height: 33px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

div.five {
    width: 250px;
    height: 70px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: 35px;
    margin-left: 8px;
}

div.six {
    width: 250px;
    height: 70px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: -74px;
    margin-left: 280px;
}

div.seven {
    width: 250px;
    height: 40px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: 35px;
    margin-left: 8px;
}

div.eight {
    width: 250px;
    height: 80px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: -44px;
    margin-left: 280px;
}

div.nine {
    width: 35px;
    height: 33px;
    text-align:center;
    position: relative;
    border: 0px;
    background: none;
    float: left;
    margin-top: -32px;
    margin-left: 8px;
}
div.nineText {
    width: 210px;
    height: 33px;
    float: left;
    margin-top: -33px;
    margin-left: 5px;
}

div.ten {
    width: 35px;
    height: 33px;
    text-align:center;
    position: relative;
    border: 0px;
    background: none;
    float: left;
    margin-top: 7px;
    margin-left: 243px;
}

div.tenText {
    width: 200px;
    height: 33px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

div.eleven {
    width: 250px;
    height: 85px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: 0px;
    margin-left: 8px;
}

div.twelve {
    width: 250px;
    height: 80px;
    text-align:center;
    position: relative;
    border:2px solid grey;
    background: #E1D697;
    float: left;
    margin-top: -50px;
    margin-left: 280px;
}

div.thirteen {
    width: 35px;
    height: 33px;
    text-align:center;
    position: relative;
    border: 0px;
    background: none;
    float: left;
    margin-top: -27px;
    margin-left: 8px;
}

div.thirteenText {
    width: 210px;
    height: 33px;
    float: left;
    margin-top: -27px;
    margin-left: 5px;
}

div.fourteen {
    width: 35px;
    height: 33px;
    text-align:center;
    position: relative;
    border: 0px;
    background: none;
    float: left;
    margin-top: 7px;
    margin-left: 30px;
}

div.fourteenText {
    width: 200px;
    height: 33px;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
}

font.d {
    float: left;
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px; 
    font-size: 8pt;
    font-weight: bold;
}

td {
    vertical-align:top;
}

img.b {
    margin-right: 8px;
}
 img.a {
    position: fixed;
    bottom: 0px;
    right: 0px; 
} 

img.c {
    position: fixed;
    bottom: 31px;
    right: 0px;
}

img.d {
    float: left;
    margin-right: 5px;
}
font.a {
    color: red;
    font-size: 48pt;
    font-weight: bold;
}
font.b {
    font-size: 8pt;
    color: white;
    font-family: Verdana，Tahoma, sans-serif; 
}

font.c {
    font-size: 8pt;
    font-family: Apt, sans-serif;
    padding-top: 5px;
}

ul {
    list-style-type: none;
    margin-top: 0px;
}

strong {
    margin-left: 8px;
}
